body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282D35;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--tittle {
  margin: 0;
}

.nav--logo_text {
  font-size: 22px;
  color: #61DAF8;
  font-weight: 700;
}

.nav--tittle {
  margin: auto;
  color: #DEEBF8;
  font-weight: 700;
}

.nav--logo {
  height: 30px;
  margin-right: 7px;
}


main {
  padding: 57px 27px;
  margin: 0;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-position: right 70%;
}

.main--tittle {
  margin: 0;
  font-size: 39px;
  color: #DEEBF8;
  letter-spacing: -0.05em;
  
}

.main--facts {
  margin-top: 46px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
  color: #DEEBF8;
}

.main--facts > li::marker{
  color: #61DAF8;
  font-size: 1.4rem;
}

.main--container{
  margin: auto;
  width: 50%;
}
